

<div class="product-thumbnail" data-thumbnail>

    {% unless product == empty %}
      <script type="application/json" data-product-json>
      {{ product | json }}
      </script>
    {% endunless %}


  {% if product.featured_image != blank %}

  <div class="product-thumbnail__inner">
    
      <a href="{{ product.url | within: collection }}" title="Shop {{ product.title }}"  class="product-thumbnail__image">
    
    
        <div class="product-thumbnail__image__primary">
          <picture>
            <source srcset="{{product.featured_image.src | img_url: '800x'}}" media="(min-width: 960p)">
            <source srcset="{{product.featured_image.src | img_url: '700x'}}" media="(min-width: 640px)">
              <img src="{{product.featured_image.src | img_url: '480x480'}}" alt="{{product.featured_image.alt}}">
          </picture>
        </div>
    
        {% if product.images[2].src != blank %}
          <div class="product-thumbnail__image__secondary">
            <picture>
              <source srcset="{{product.images[2].src | img_url: '800x'}}" media="(min-width: 960p)">
              <source srcset="{{product.images[2].src | img_url: '700x'}}" media="(min-width: 640px)">
                <img src="{{product.images[2].src | img_url: '480'}}" alt="{{product.featured_image.alt}}">
            </picture>
          </div>
        {% else %}
          <div class="product-thumbnail__image__secondary">
            <picture>
              <source srcset="{{product.featured_image.src | img_url: '800x'}}" media="(min-width: 960p)">
              <source srcset="{{product.featured_image.src | img_url: '700x'}}" media="(min-width: 640px)">
                <img src="{{product.featured_image.src | img_url: '480x480'}}" alt="{{product.featured_image.alt}}">
            </picture>
          </div>
        {%endif%}
    
        </a>
      {% endif %}

      <div class="product-thumbnail__actions">
        <form  action="/cart/add" method="post" enctype="multipart/form-data"
                          id="AddToCartForm" data-thumb-add-to-cart-form>
          
      
          
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js">
      
                <!--Needed for radio buttons to work--> 
                <div class="visually-hidden">
                  <label for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                                    
                  <select
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}">
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <!--END--> 
                 
      
                <div class="product-thumbnail__options  flex-grid">
      
                  <span class="product-thumbnail__options__label  visually-hidden">
                   Select {{ option.name }}
                  </span>
      
      
                  {%for value in option.values %}
                    {% assign variant_label_state = true %}
      
                    {% unless product.variants[forloop.index0].available  %}
                      {% assign variant_label_state = false %}
                    {% endunless %}
      
                    <div class="product-thumbnail__options__option  flex-grid-cell {% unless variant_label_state %} is-sold-out {% endunless %}">
                        <input 
                          type="radio" 
                          name="{{option.name}}" 
                          data-option-selector
                          data-option-index="option{{option.position}}"
                          value="{{ value | escape }}"
                          id="{{option.name | handleize}}-{{value | escape | handleize}}-{{product.title}}">
                        <label for="{{option.name | handleize}}-{{value | escape | handleize}}-{{product.title}}" class="{{option.name | downcase}}  flex-grid  flex-grid--center flex-grid--justify-center">
                          {{value}}
                        </label>
                    </div>
                  {%endfor%}
                </div>
              </div>
            {% endfor %}
          {% endunless %}
           
          <div class="product-thumbnail__qty  visually-hidden">
      
            <label for="Quantity">
            {{ 'products.product.quantity' | t }}
           </label>
      
            <div class="product-thumbnail__qty__actions">
              <input type="number" id="Quantity" name="quantity" value="1" min="1">
            </div>
          </div>     
      
          <!--Back for when there is no JS activated--> 
         <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>
      
          <button
            type="submit"
            name="add"
            class="button  button--small  button--expanded  button--primary product-thumbnail__buy-btn is-disabled"
            id="AddToCart" 
            data-thumb-add-to-cart-btn>
              <span data-add-to-cart-text>
                  {{ 'products.product.add_to_cart' | t }}
              </span>
          </button>
                      
        </form>
      </div>
  </div>

  <div class="product-thumbnail__info">
    <p class="product-thumbnail__info__title">
      <a href="{{ product.url | within: collection }}" title="Shop {{ product.title }} "  tabindex="-1">{{ product.title }}</a>
    </p>
    
    <p class="product-thumbnail__info__price">
      {% if product.compare_at_price > product.price %}
    
        {% if product.price_varies %}
          {%- assign sale_price = product.price | money -%}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          {{ 'products.product.on_sale' | t }}
          {{ product.price | money }}
        {% endif %}
    
      {% else %}
    
        {% if product.price_varies %}
          {%- assign price = product.price | money -%}
          {{ 'products.product.from_text_html' | t: price: price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
    
      {% endif %}
    
      {% if product.compare_at_price > product.price %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <s>{{ product.compare_at_price | money }}</s>
      {% endif %}
    
      {% unless product.available %}
        {{ 'products.product.sold_out' | t }}
      {% endunless %}
    </p>
  </div>

</div>
