
<article class="about-us-narrative">
  
  <h1 class="hide-elem">
    The Royal Highnie Story
  </h1>

  <div class="container-fluid container-fluid--no-padding">

    <div class="narrative-section  narrative-section--intro">
      <div class="row stretch-md  row--no-padding">
        <div class="col-sm-12">
          <div class="row middle-md center-md  reverse-md row-lg">
            <div class="col-sm-12  col-md-6  col-lg-5">
              <div class="narrative-section__image">
                <img src="{{'boxers.svg' | asset_url}}" alt="">
              </div>
            </div>
            <div class="col-sm-12  col-md-6  col-md-7">
              <div class="narrative-section__copy">
                <h2 class="narrative-section__headline">
                {{section.settings.section-1-headline}}
                </h2>
                
                <div class="narrative-section__body">
                {{section.settings.section-1-body}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <div class="narrative-section  narrative-section--finest-cotton">
      <div class="row stretch-md  row--no-padding">
        <div class="col-sm-12">
          <div class="row  middle-md  reverse-md">
            <div class="col-sm-12  col-md-6  col-lg-5">
              <div class="narrative-section__image">
                <img src="{{'cotton.svg' | asset_url}}" alt="">
              </div>
            </div>
            <div class="col-sm-12  col-md-6  col-lg-7">
              <div class="narrative-section__copy">
                <h2 class="narrative-section__headline">
                {{section.settings.section-2-headline}}
                </h2>
                
                <div class="narrative-section__body">
                {{section.settings.section-2-body}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="narrative-section  narrative-section--whole-family">
      <div class="row stretch-md row--no-padding">
        <div class="col-sm-12">
          <div class="row reverse-md middle-md row-lg">
            <div class="col-sm-12 col-md-6 col-lg-5">
              <div class="narrative-section__image">
                <img src="{{'wand.svg' | asset_url}}" alt="">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
              <div class="narrative-section__copy">
                <h2 class="narrative-section__headline">
                {{section.settings.section-3-headline}}
                </h2>
                
                <div class="narrative-section__body">
                {{section.settings.section-3-body}}
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="narrative-section  narrative-section--experience">
      <div class="row  stretch-md  row--no-padding">
        <div class="col-sm-12">
          <div class="row  middle-md  reverse-lg">
            <div class="col-sm-12 col-md-6 col-lg-5">
              <div class="narrative-section__image">
                  <img src="{{'crest.png' | asset_url}}" alt="">
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
              <div class="narrative-section__copy">
                <h2 class="narrative-section__headline">
                {{section.settings.section-4-headline}}
                </h2>
                
                <div class="narrative-section__body">
                {{section.settings.section-4-body}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>



{% schema %}
  {
    "name": "Story",
    "settings": [
      {
        "type": "header",
        "content": "Section 1"
      },
      {
        "type": "html",
        "id": "section-1-headline",
        "label": "Headline"
      },
      {
        "type": "richtext",
        "id": "section-1-body",
        "label": "Body Copy"
      },
      {
        "type": "header",
        "content": "Section 2"
      },
      {
        "type": "richtext",
        "id": "section-2-body",
        "label": "Body Copy"
      },
      {
        "type": "header",
        "content": "Section 3"
      },
      {
        "type": "richtext",
        "id": "section-3-body",
        "label": "Body Copy"
      },
      {
        "type": "header",
        "content": "Section 4"
      },
      {
        "type": "richtext",
        "id": "section-4-body",
        "label": "Body Copy"
      }
    ]
  }

{% endschema %}
