

<div class="navigation" data-section-id="{{ section.id }}" data-section-type="header"  data-template="{{ template.name }}">

    {% if section.settings.announcement_bar_enabled %}
    <alert class="header-announcement"> 
      {%- if section.settings.announcement_bar_link != blank -%}
         <a href="{{ section.settings.announcement_bar_link }}" rel="internal" title="{{section.settings.announcement_bar_link_title}}">
           {{ section.settings.announcement_bar_text | escape }}
         </a>
       {%- else -%}
         <span>{{ section.settings.announcement_bar_text | escape }}</span>
       {%- endif -%}
    </alert>
    {% endif %}

    <!-- Navigation for small devices--> 
    <header>
      <div class="header__menu-toggle-wrapper  hide-for-large-up">
        <button class="header__menu-toggle"  data-menu-toggle data-target="menu">
            <span class="header__menu-toggle__icon">
              
            </span>
        </button>
      </div>
<!--       <div>
        {%if customer%}
            <a href="/account">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M490.3 534.4c146.6 0 266-117.6 266-262.2S637 10 490.3 10c-146.6 0-266 117.6-266 262.2.1 144.5 119.4 262.2 266 262.2zm106.1 7.2H403.6C219.6 541.6 70 689 70 870.2v19C70 990 217.2 990 403.6 990h192.8c179 0 333.6 0 333.6-100.8v-19c0-181.2-149.7-328.6-333.6-328.6z"/></svg>
            </span>
            View Account</a>
            {%else%}
            <a href="/account/login" >
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M490.3 534.4c146.6 0 266-117.6 266-262.2S637 10 490.3 10c-146.6 0-266 117.6-266 262.2.1 144.5 119.4 262.2 266 262.2zm106.1 7.2H403.6C219.6 541.6 70 689 70 870.2v19C70 990 217.2 990 403.6 990h192.8c179 0 333.6 0 333.6-100.8v-19c0-181.2-149.7-328.6-333.6-328.6z"/></svg>
              </span>
              Account Login
            </a>
          {%endif%}
      </div> -->

    {% if template.name == 'index' %}
      <h1 itemscope itemtype="http://schema.org/Organization" class="header__logo">
      {% else %}
        <div class="h1 headerLogo grid grid--center grid--justifyCenter   large-grid--justifyLeft" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url" >
             {%include 'logo-royal-highnies.liquid'%}
            </a>
        {% if template.name == 'index' %}
          </h1>
      {% else %}
        </div>
    {% endif %}

    <div class="header__cart-toggle-wrapper">
       <button  data-menu-toggle  data-target="cart"  class="header__cart-toggle">
            <span class="header__cart-toggle__total" id="cart-count">{{cart.item_count}}</span>
            <span class="header__cart-toggle__icon">{% include 'icon-cart' %}</span>
       </button>
    </div>
  </header>

  <aside class="navigation-menu-container"  data-off-canvas-menu>
    <nav class="navigation-menu" data-menu>

       <div class="navigation-menu__inner">

        <!-- Navigation/Menu items--> 
        <ul class="navigation-menu__primary-links-list ">
 
          {% for link in linklists[section.settings.main_linklist].links %}
            {%- assign child_list_handle = link.title | handleize -%}
            {% if menus[child_list_handle].links != blank %}
              <li class="navigation-menu__item">
                <div class="navigation-menu__drop-down" 
                      data-dropdown-id="{{child_list_handle}}">
                  <a href="{{link.url}}" class="navigation-menu__link navigation-menu__drop-down__title" 
                      data-toggle-id="{{child_list_handle}}"
                      data-drop-down-toggle>
                    {{ link.title }} 
                    <span class="navigation-menu__drop-down__icon">
                      
                    </span>
                  </a>
                  <ul class="navigation-menu__drop-down__links">
                    {% for childlink in menus[child_list_handle].links %}

                      {%- assign child_list_handle = childlink.title | handleize -%}
                      {%if menus[child_list_handle].links %}
                      <li class="navigation-menu__drop-down__item">
                        <a href="{{ childlink.url }}" rel="internal" title="{{ childlink.title }}" class="navigation-menu__drop-down__category-title">{{ childlink.title }}</a>
                         <ul class="navigation-menu__drop-down__category-links">
                            {% for childlink in menus[child_list_handle].links %}
                             <li>
                                <a href="{{ childlink.url }}" title="{{childlink.title}}" class="navigation-menu__drop-down__link">{{childlink.title}}</a>
                             </li>
                             {%endfor%}
                         </ul> 
                      </li>   
                      {%else%}

                      <li class="navigation-menu__drop-down-item">
                        <a href="{{ childlink.url }}" class="navigation-menu__drop-down__link">
                        {{ childlink.title }}
                        </a>
                      </li> 
                      {%endif%}

                    {% endfor %}
                  </ul>
                </div>
              </li>
            {% else %}  
              <li class="navigation-menu__item  {% if link.active %}site-nav--active{% endif %}">
                <a href="{{ link.url }}" class="navigation-menu__link">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
  
        <ul class="navigation-menu__secondary-links-list">
            {% for link in linklists[section.settings.secondary_linklist].links %}
               <li class="navigation-menu__secondary-links-list__item">
                <a href="{{link.url}}" class="navigation-menu__secondary-links-list__link">
                  {{link.title}}
                </a>
              </li>
            {%endfor%}
        </ul>

       </div>
    </nav>

  </aside>
  <!--END off canvas navigation--> 

  <aside class="show-for-medium-up">
              
     <!--Cart Container--> 
     <div data-cart  class="mainNav-cartContainer  [ grid  show-for-medium-up  grid--flexDirectionColumn grid--justifySpaceBetween ]">
        <div class="offCanvasCart">
          <div class="offCanvasCart-loader">
            <div class="loader"></div>
          </div>
          <div  id="CartContainer">
            
          </div>

        </div>
     </div>
     <!-- END Cart Container--> 
             
  </aside>


  <!-- Cart success modal, used for small devices--> 
<!--   <div class="cartSuccessModal  hide-for-medium-up" data-cart-item-added-success-modal>
    <span class="cartSuccessModal-cartTotal" data-cart-total>
    </span>
    <a class="cartSuccessModal-button" href="/cart"  rel="internal">
      {% include 'icon-cart' %}
    </a>
  </div> -->
  <!-- END Cart success modal--> 

</div>

{% include 'ajax-cart-template' %}
{% include 'ajax-cart-empty' %}


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Secondary Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}





