

<section class="hero-header">
  <div class="hero-header__inner">
    <div class="hero-header__slideshow">
      {%for block in section.blocks%}
      <div>
        <div class="hero-header__slide">
         <div class="hero-header__slide__content">
            <h1 class="headline  hero-header__slide__headline">
             {{block.settings.headline}}
           </h1>
            <div class="hero-header__body">
              <p>
                {{block.settings.subline}}
              </p>
            </div>
           {%if block.settings.secondary-cta-link%}
             <a href="{{block.settings.cta-link}}" class="button">
               {{block.settings.cta-label}}
             </a>
              <a href="{{block.settings.secondary-cta-link}}" class="button  hero-header__cta">
               {{block.settings.secondary-cta-label}}
             </a>
           {%else%}
              <a href="{{block.settings.cta-link}}" class="button  hero-header__cta">
               {{block.settings.cta-label}}
             </a>
           {%endif%}
         </div>
         <div class="hero-header__slide__background">
          <picture>
            <source srcset="{{block.settings.background-desktop | img_url: '2000x'}}" media="(min-width: 1100px)">
            <source srcset="{{block.settings.background-desktop | img_url: '1300x', crop: 'right'}}" media="(min-width: 750px)">
           <img src="{{block.settings.background | img_url: '800x' }}" alt="{{block.settings.background.alt}}">
          </picture>
         </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</section>


{%schema%}
  {
    "name": "hero-header",
    "settings": [],
    "blocks": [
      {
        "type": "hero-slide", 
        "name": "Hero Slide", 
        "settings": [
          {
            "id": "headline", 
            "type": "text", 
            "label": "Headline"
          },
          {
            "id": "subline", 
            "type": "text", 
            "label": "Subline"
          },
          {
            "id": "cta-link", 
            "type": "url", 
            "label": "CTA Link"
          },
          {
            "id": "cta-label", 
            "type": "text", 
            "label": "CTA Label"
          },
          {
            "id": "secondary-cta-link", 
            "type": "url", 
            "label": "Secondary CTA Link"
          },
          {
            "id": "secondary-cta-label", 
            "type": "text", 
            "label": "Secondary CTA Label"
          },
          {
            "id": "background", 
            "type": "image_picker", 
            "label": "Background Mobile"
          },
          {
            "id": "background-desktop", 
            "type": "image_picker", 
            "label": "Background Desktop"
          }
        ]
      }
    
    ],
    "presets": [
      {
        "name": "Homepage Hero Header",
        "category": "Headers"
      }
    ]
  }

{%endschema%}



{%javascript%}
//<script>
  $(document).ready(function(){
  $('.hero-header__slideshow').slick({
    autoplay: false,
    autplaySpeed: 3000,
    fade: true, 
    slidesToScroll: 1, 
    dots: true,
    arrows: false,
    infinite: false
  });
});

//</script>
{%endjavascript%}

